body {
    background-color: #191970;
    color: white;
    text-align: center;
}

.links {
    color: white;
    
    
}

h1 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.fotosredondas {
    border-radius: 100px;
}

h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
}

.perfil {
    text-align: center;
    align-items: center;
}

#fotocarlos {
    border-radius: 10%;
    align-content: center;
    width: 350px;
   
}
.botao {
    background-color: rgb(137, 137, 250);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
.botao:hover {
    background-color: green;
}
.botao:active {
    background-color: green;
}